.nav-link{
    color: #956655;
}

h1{
    font-family: "Playfair Display", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
}

.text-primary{
    color:#956655 !important;
}


@media (max-width: 375px) {
    .d-flex{
        flex-direction: column;
    }
}



